name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ] 


jobs:
  build:
  
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Run tests
      run: mvn test
  
  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build Docker Image
      run: |
        docker build -t my-java-app:{{ github.sha }} .
    - name: Run Docker Container
      run: |
        docker run --rm my-java-app:{{ github.sha }}
    - name: Push Docker Image to Registry
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        docker tag my-java-app:{{ github.sha }} my-dockerhub-username/my-java-app:{{ github.sha }}
        docker push my-dockerhub-username/my-java-app:{{ github.sha }}